{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<div class="col-4 pb-5 pt-3 mx-auto text-center">
    <div class="mb-4 d-flex justify-content-center">
        <img src="{{ asset('img/check.png') }}" alt="checked">
    </div>


    <p>
        An email has been sent that contains a link that you can click to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}"><br>
            try again</a>.</p>
</div>

{% endblock %}
