
a {
    color: #EF8100;
}

    a:hover {
        color: #c46900;
    }

header {
    background-color: #EF8100;
}

#menu {
    font-size: 15px;
}


#button-send {
    padding: 4px 15px;
}

#button-send img {
    height: 30px;
}

table th {
    background-color: #ef81003b;

}

table img {
    height: 30px;
    border-radius: 20px;
}


footer {
    background-color: #EF8100;
    color: #FFFFFF;
}
