{% extends 'base.html.twig' %}

{% block title %}Outing not found{% endblock %}

{% block body %}

        <h1 class="h3 mb-3 font-weight-normal">
            This user doesn't exist !
        </h1>

{% endblock %}
