{% extends 'base.html.twig' %}

{% block title %}Outing not found{% endblock %}

{% block body %}

    <div class="col-4 pb-5 pt-3 mx-auto text-center">
        <h1 class="h3 mb-3 font-weight-normal">
            This User doesn't exist !
        </h1>
        <p><a href="{{ url('home_home') }}">Back to the homepage</a></p>
    </div>

{% endblock %}
